html {
  background-color: #e0d9d9e3;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.fixed-bar {
  height: 70px;
  text-align: center;
}

/*header*/
.page-title {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #521751;
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  margin: 0;
}

/*nav*/
.navigation {
  text-align: center;
  padding: 0;
}

.navigation li,
.navigation a {
  display: inline-block;
  width: 70px;
  background-color: #b1b1b1;
}

/*main*/
.trip-text {
  background-color: #fa923f;
  padding: 0;
  display: flex;
}

.trip-text p {
  background-color: #521751;
  color: #fff;
  text-align: center;
  margin: 0;
  width: 50%;
}

.trip-images {
  display: flex;
}

.trip-images img {
  width: 50%;
  height: 50%;
}

.feedback {
  position: relative;
  bottom: 18.4px;
  background-color: #521752;
  color: #fff;
  text-align: center;
  margin: 0;
}

/*fotter*/
.review-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  border: 1px solid #fff;
  background-color: #fff;
  margin: 10px;
}

.review-clients img {
  width: 120px;
}

.review-clients p {
  width: 350px;
  text-align: center;
}